node_modules/
dist/
resources/models/sherpa-onnx-qwen3-asr-0.6B-int8-2026-03-25/
resources/models/silero-vad/silero_vad.onnx
resources/ffmpeg/ffmpeg.exe
resources/ffmpeg/ffplay.exe
resources/ffmpeg/ffprobe.exe
*.log
.DS_Store
Thumbs.db
